<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>

    <style>
        * {
            font-family: sans-serif;
            
        }
        .small-text{
            font-size: 0.9rem;
        }
        main {
            margin-top: 80px;
        }
        .viewBtn{
            text-decoration: none; 
            border: none; border-radius: 5px;
            background-color: rgb(172, 229, 255);
            padding: 3px 5px 4px;
        }
        .viewBtn:hover{
            color: white;
            background-color: rgb(53, 124, 156);
        }
        .battery:hover{
            cursor: pointer;
        }
        .graphContiner {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 60%;
            background-color: rgb(231, 206, 255);
            color: white;
            text-align: center;
        }
        /* .graph { 
            background: #ce3232;
            position: absolute; 
            opacity: 0; 
            z-index: 10;
            left: 50%;
            top: -100px;
            transform: translateX(-50%);
            width: 600px;
            height: 400px;
        } */
        /* .recent-link .hovercard { 
            opacity: 1; 
            transition: 0.5s;
            transition-delay: 0.1s;
        } */
        .tooltiptext {
            display: block; 
            flex-direction: column; 
            justify-content: flex-start; 
            background-color: #d8d8d8;
            padding: 18px; 
            border-radius: 5px; 
            color: white; 
            line-height: 15px;
            transition: 1s;
            width: 50vw;
        }
    </style>
</head>

<body>

    <%- include('./partials/navbar') %>

    <main>
        <%- include('./partials/notify') %>

        <div class="container-fluid mt-5 mb-5">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-md-5">
                    <form class="d-flex" method="POST" action="/serachSensor">
                        <input class="form-control me-2" type="number" name="sensor_id" placeholder="Sensor ID" aria-label="Search" value="<%= locals.search %>">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <div class="col-1"></div>
                <div class="col-md-4 text-center">
                    <div>
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link" href="/sensors" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="/sensors?offset=<%= locals.offset - 50 %>">Previous</a></li>
                          <li class="page-item"><a class="page-link" href=""><%= locals.offset/50 %></a></li>
                          <li class="page-item"><a class="page-link" href="/sensors?offset=<%= locals.offset + 50 %>">Next</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row text-center">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="text-primary small-text">
                          <th scope="col">#</th>
                          <th scope="col">ID</th>
                          <th scope="col">Type</th>
                          <th scope="col">Battery</th>
                          <th scope="col">Condition</th>
                          <th scope="col">Button Press</th>
                          <th scope="col">Temperature</th>
                          <th scope="col">Humidity</th>
                          <th scope="col">RSSI</th>
                          <th scope="col">Time</th>
                          <th scope="col">View</th>
                        </tr>

                        <tbody class="small-text">
                            <% if(locals.response.length == 0) { %>
                                <tr>
                                    <td>null</td>
                                    <td>null</td>
                                    <td>null</td>
                                    <td>null</td>
                                    <td>null</td>
                                    <td>null</td>
                                    <td>null</td>
                                    <td>null</td>
                                    <td>null</td>
                                    <td>null</td>
                                    <td>null</td>
                                </tr>
                            <% } else { %>
                                <% locals.response.forEach((res, i) => { %>
                                    <tr>
                                        <th scope="row"><%= i+1 %></th>
                                        <td><%= res.sensor_id %></td>
                                        <td><%= res.type %></td>
                                        <td ><button style="border: none;" id="battery<%= res.sensor_id %>" class="battery" onfocus="plotGraph('<%= res.sensor_id %>')"><%= res.battery_voltage %></button></td>
                                        <td><%= res.condition %></td>
                                        <td><%= res.buttonPress?'🟢':'🔴' %></td>
                                        <td><%= res.temperature %></td>
                                        <td><%= res.humidity?res.humidity:0 %>%</td>
                                        <td><%= res.rssi %></td>
                                        <td><%= res.time %></td>
                                        <td><a href="/viewSensor/<%= res.sensor_id %>" class="viewBtn">&#8594;</a></td>
                                    </tr>
                                <% })%>
                            <% } %>
                        </tbody>
                      </thead>
                </table>
            </div>
    </main>

    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Battery Voltage Graph</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center" id="graph">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        var myModal = new bootstrap.Modal(document.getElementById('myModal'))
        const graph = document.getElementById('graph')
        let charto
        function plotGraph(sensor_id){
            console.log(sensor_id)
            if(charto instanceof Chart){
                console.log('chart')
                charto.destroy()
                delete charto
            }
            myModal.show()
            graph.innerHTML = '<div class="spinner-grow" role="status" id="loading" style="margin: auto 50vh;"><span class="visually-hidden">Loading...</span></div>'
            axios({
                //13.233.233.37
                method:'get',
                url:"http://13.233.233.37:5000/batteryData/" + sensor_id
            }).then(res => {
                console.log(res.data)
                graph.innerHTML = '<canvas id="myChart" style="width:100%;max-width:800px;margin:auto;"></canvas>'
                var xValues = [];
                var yValues = [];
                for (let i = 0; i < res.data.length; i++) {
                    const bv = res.data[i].bv;
                    yValues.push(bv)
                    xValues.push(i+1)
                }
                console.log(xValues, yValues)
                charto = new Chart("myChart", {
                    type: "line",
                    data: {
                        labels: xValues,
                        datasets: [{
                            fill: false,
                            lineTension: 0.5,
                            backgroundColor: "rgba(0,0,255,1.0)",
                            borderColor: "rgba(0,0,255,0.1)",
                            data: yValues,
                            label: 'Battery voltage',
                        }]
                    },
                    options: {
                        legend: {display: false},
                        scales: {
                            y:{
                                ticks: {
                                    max: 4,
                                    min: 0
                                },
                                title: {
                                    color: 'red',
                                    display: true,
                                    text: 'Voltage'
                                }
                            },
                            x: {
                                title: {
                                    color: 'red',
                                    display: true,
                                    text: 'Number of battery reading'
                                }
                            }
                        }
                    }
                    });
            }).catch(err => {
                console.log(err.response)
                graph.innerHTML = "Failed to fetch data"
            })
        }
    </script>
</body>

</html>
